.form-content{
  padding: 20px;
  margin: auto;
  width: 70%;
  margin-bottom: 50px;
}
.rentProperty{
    width: 100%;
    padding: 8px;
    display: inline-block;
    border: none;
    background: #ffffff;
    border-radius: 3px;
    margin-bottom: 10px;
}
.rentalForm{
    margin-top:3em;
    color: white
}
.verticalLine{
    background: whitesmoke;
    opacity: 0.4;
}
