.logo{
  font-family: Yatra One, cursive;
  font-size: 32px;
}
.nav-text{
  color: white !important;
  font-family: "Roboto"
}
.nav-text:hover{
  color:orange !important;
}
.nav-link{
   color:white !important
 }
 .nav-link:hover{
   color:orange!important
 }
.button-text:hover{
  font-weight: 400;
  transform: scale(1.1);
  transition-duration: 0.3s;
  transition-property: transform;
  color:black!important
}
.location{
  background: transparent;
  color:white;
  font-weight: 500;
  width:130px
}
.toast_container{
  background: linear-gradient(to right bottom, rgb(105, 142, 148), rgb(5, 50, 58)) !important
}
@media only screen and (max-width: 990px){
 .button-text{
  width: 100px;
  margin-top: 6px;
 }
 .dropDown{
   width: 30px;
 }
// .Navlocation{
//    position: absolute;
//    left:110px
//  }
}
@media only screen and (max-width:320){
.Navlocation{
  display: none
 }
}

